<!doctype html>
<html ng-app="inkanote">
  <head>
    <title>Font Chooser Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Condiment|Yesteryear|Finger+Paint|Alef' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
    <div ng-controller="NoteCtrl" class="container-fluid">
      <h3>Choose a font and preview as you type</h3>

      <div class="row">

        <div class="span6">
          <p>Type here:</p>
          <textarea class="input-block-level" ng-model="message"></textarea>

            <label class="radio inline font-condiment">
              <input ng-model="font" type="radio" value="condiment"/>
              Condiment</label>

            <label class="radio inline font-yesteryear">
              <input ng-model="font" type="radio" value="yesteryear"/>
              Yesteryear</label>

            <label class="radio inline font-finger-paint">
              <input ng-model="font" type="radio" value="finger-paint"/>
              Finger Paint</label>

            <label class="radio inline font-alef">
              <input ng-model="font" type="radio" value="alef"/>
              Alef</label>
        </div>


        <div class="span6">
          <p>Your preview will appear here:</p>
          <div class="well well-small preview font-{{font}}"/>{{message}}</div>
        </div>

      </div>

    </div>
  </body>
</html>
